[submodule "ECSess_core"]
	path = ECSess_core
	url = https://github.com/seb776/ECSess_core
[submodule "ECSess_GameEngine"]
	path = ECSess_GameEngine
	url = https://github.com/seb776/ECSess_GameEngine
[submodule "SimUniverse"]
	path = SimUniverse
	url = https://github.com/seb776/SimUniverse
